.footer {
  width: 100%;
  background: black;
  color: white;
  padding: 60px 0 60px 0;

  .line_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .line_one {

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        font-size: 20px;
        font-weight: 100;

        span {
          font-weight: 600;
        }
      }

      .inf_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .small-d {
          color: white;
          font-size: 16px;
          font-weight: 400;
        }

        .btn_contact {
          border-radius: 200px;
          border: none;
          padding: 12px 24px 14px 24px;
          font-size: 16px;
          font-weight: 300;
          color: white;
          background: #1b5b31;
        }
      }
    }

    .emp_line {
      width: 100%;
      height: 1px;
      background: white;
      margin-top: 62px;
    }

    .line_two {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 62px;

      font-size: 14px;
      font-weight: 300;

      .social_wrap {
        display: flex;
        align-items: center;
        gap: 48px;
      }

      .contacts_wrap {
        display: flex;
        align-items: center;
        gap: 48px;
      }
    }

    .line_three {
      margin-top: 120px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      font-size: 14px;
      font-weight: 300;

      .prod {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


@media screen and (max-width: 771px) {
  .line_one {
    flex-direction: column;
    flex-wrap: wrap;

    .inf_wrap {
      flex-wrap: wrap;
    }
  }
  .line_two {
    flex-direction: column;

    .social_wrap {
      flex-direction: column;
    }

    .contacts_wrap {
      width: 100%;
      text-align: center;
      flex-direction: column;

      div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 378px) {
  .contacts_wrap {
    margin-top: 20px;
  }
  .line_three{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}