a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.small-d {
  font-style: normal;
  font-family: 'Inter';
  font-size: 12px;
  color: Green;
}
.title-d {
  font-family: "Montserrat";
  font-size: 48px;
}
.description-d {
    font-family: 'Inter';
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
}
title{
  font-family: 'Montserrat';
}

.btn-outline:hover{
  transition: .2s ease-in-out;
  background: rgba(108, 250, 190, 0.04);
  transform: scale(1.1);
}
.btn-success:hover{
  transition: .2s ease-in-out;
  background: #0a8a0a;
  transform: scale(1.1);
}
.projects .project .btn{
  border: none;
}








.underline-one {
  color: #00bfff; /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: green; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: #04720d; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;  /* Время эффекта */
}
