a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.small-d {
  font-style: normal;
  font-family: 'Inter';
  font-size: 12px;
  color: Green;
}
.title-d {
  font-family: "Montserrat";
  font-size: 48px;
}
.description-d {
    font-family: 'Inter';
  max-width: 700px;
  font-size: 16px;
  font-weight: 400;
}
title{
  font-family: 'Montserrat';
}
