.realization {
  width: 100%;
  background: #dcc1ab;

  .info {
    padding: 120px 0px 96px 0px;
  }

  .wrap {
    position: relative;

    .projects_block {
      width: 100%;
      height: 1200px;
      overflow: hidden;
      transition: 0.3s ease-in-out;

      .gradient {
        position: absolute;
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: linear-gradient(
                        360deg,
                        #dcc1ab 0%,
                        rgba(42, 33, 26, 0) 100%
        );
        display: flex;
        justify-content: center;
        align-items: end;

        .btn {
          border: 1px solid black;
          border-radius: 100px;
          padding: 12px 22px 14px 22px;
          margin-bottom: 59px;
          transition: 0.3s;
          cursor: pointer;
        }

        .btn:hover {
          transform: scale(1.1);
        }
      }

      .gradient-up {
        position: fixed;
        width: 120px;
        height: 60px;
        top: 10px;
        left: calc(50% - 60px);
        z-index: 100;
        background: #dcc1ab;
        border-radius: 30px;
        display: none;
        justify-content: center;
        align-items: center;

        .btn {
          width: 100%;
          height: 100%;
          border: 1px solid black;
          border-radius: 100px;
          padding: 12px 22px 14px 22px;
          transition: 0.3s;
          cursor: pointer;

          img {
            transform: rotate(180deg);
          }
        }

        .btn:hover {
          transform: scale(1.1);
        }
      }

      .container {
        .grid-masonry {
          width: 100%;

          .grid-item {
            transition: 0.2s;
            margin-top: 43px;
            width: 401px;
            cursor: pointer;

            img {
              width: 100%;
            }
          }

          .grid-item:hover {
            transform: scale(1.1);
          }
        }
      }

    }
  }
}


@media screen and (max-width: 991px) {
  .realization {
    .wrap {
      .projects_block {
        .container {
          .grid-masonry {
            .grid-item {
              width: 250px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .realization {
    .wrap {
      .projects_block {
        .container {
          .grid-masonry {
            .grid-item {
              width: 190px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 424px) {

  .realization {
    .wrap {
      .projects_block {
        .container {
          .grid-masonry {
            .grid-item {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .realization {
    .wrap {
      padding: 5px;
      .projects_block {
        .container {
          .grid-masonry {
            .grid-item {
              width: 250px;
            }
          }
        }
      }
    }
  }
}

